/* --------------------------------------------------------------------- 
 *
 * File : updateInfor.css
 * Author : WJIS KEJ
 * PJ Description : 부산1호선 200량 화면설정기(PIC) HTML의 CSS(Style) 
 * File Description : 시스템정보 화면 스타일시트
 * Date : 2022.06.09 ~
 *
 * --------------------------------------------------------------------- */

/* -- section --------------------------------------- */
section{
    /* border:                         solid thin; */
    width:                          800px;
    height:                         340px;
}

.updateDiv{ /* log부분(왼쪽), 버튼부분(오른쪽) */
    /* border:                         solid thin; */
    float:                          left;
    width:                          400px;
    height:                         340px;
    padding:                        10px;
}

.sysLog{ /* log부분(왼쪽) */
    border:                         solid thin navy;
    border-radius:                  15px;
    background-color:               white;
    width:                          350px;
    height:                         300px;
    margin:                         20px 40px;
    padding:                        10px;
    
}

.sysBtn{ /* 버튼부분(오른쪽) */
    background-color:               navy;
    /* border:                         none; */
    border-radius:                  10px;
    color:                          white;
    width:                          300px;
    height:                         60px;
    font-size:                      20px;
    margin:                         30px 50px 0px 50px;
    font-size:                      23px;
    font-weight:                    600;
}

.sysBtn:hover{
    font-size:                  30PX;
}

/* -- footer ---------------------------------------- */
#prevBtn{
    margin-right:                   45px;          
}
